@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
$bg-header: #282A35;
$bg-body: #eff2f5;
$bg-sidebar: #1e1e2d;

$bg-btn-primary: #007bff;
$bg-btn-primary-hover: #4C7DB2;